.content{
    width: 100%;
    height: calc(100%-100px);
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 777;
    display: flex;
    
}

/********************************Filter************************************************/

.filter{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 777;
}

/**************************************** Content Wrapper *************************************************/

.contentWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sectionTitle{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/**************************************** Featured ******************************************************/

.featured{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
}

.slider{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow-x: scroll;
}

.slider::-webkit-scrollbar{
    display: none;
}
.sliderRack{
    width: 2500px;
    height: 90%;
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: 0.5s ease-out;
}

.dir{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0px;
    width: 50px;
    height: 90%;
    background: rgba(255,255,255,0.8);
    z-index: 777;
}

.dir:hover>svg{
    color:black;
}
.rightDir{
    left:calc(100% - 45px);
}

.leftDir{
    right:0%;
}

.dirArrow{
    font-size: 2rem;
    color:grey;
}

.dots{
    width: 100%;
    height: 10%;
    display: flex;
    align-items:center;
    justify-content: center;
    position: sticky;
    top:90%;
    left: 0;
    gap: 10px;
    padding-top:20px;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--grey-text);
}

/**************************************** All Books ******************************************************/

.allBooks{
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding: 20px;

}






/*********************************** Media Queries (1200px, 900px, 600px, 400px) *******************************/

@media screen and (max-width: 1200px) {
    .allBooks{
        width: 100%;
    }
    
}

@media screen and (max-width: 900px) {
    .allBooks{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .allBooks{
        width: 100%;
    }
    
}

@media screen and (max-width: 400px) {
    .allBooks{
        width: 100%;
        padding: 0 auto;
        justify-content: center;
    }
    
}