.booktile{
    display: flex;
    width: 30%;
    height: 180px;
    cursor: pointer;
    margin-bottom: 30px;
}

.left{
    width: 50%;
}

.bookImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.right{
    width: 50%;
    padding-left: 10px;
    padding-top: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.title{
    margin-top: 10px;
    margin-bottom: 10px;
}

.auth, .genre{
    font-size: 14px;
}

.genre{
    margin-bottom: 10px;
}

.midSection{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    margin-bottom: 10px;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    gap: 10px;
    border-right: 1px solid #EEEEEE;
}

.followers, .likes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.followers>svg, .likes>svg{
    font-size: 16px;
}

.followers>span, .likes>span{
    font-size: 12px;
}

.ratings{
    padding-left: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.ratings>span{
    font-size: 12px;
}

.filled{
    color: goldenrod;
}

.unfilled{
    color: grey;
}

.priceAndStock{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 100%;
    margin-bottom: 10px;
}

.price, .stock{
    height: 100%;
    font-size: 12px;
    align-items: center;
    display: flex;
    
    width: 50%;
}

.price{
    flex: 0.5;
    justify-content: flex-start;
}

.stock{
    flex: 1.5;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-start;
}

.addToCart{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.addToCart>svg{
    font-size: 16px;
    font-weight: 700;
}






@media screen and (max-width:1200px) {
    .booktile{
      width: 30%;
      margin: 0px;
      margin-bottom: 30px;
      
    }  
  }
  @media screen and (max-width:900px) {
    .booktile{
      width: 50%;
    }  
  }

  @media screen and (max-width:670px) {
    .booktile{
      width: 100%;
      height: 250px;
    }  
  }


@media screen and (max-width:400px) {
    left{
        flex: 2;
        width: 60%;
    }
    right{
        flex: 1;
       
        width: 40%;
    }

    .bookImg{
        width: 100%;
    }
    .booktile{
       height: 220px;
      }  
}