.cartItem{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
}

.cImgBox{
    max-width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.cImage{
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
}